<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"></script> 
    <!-- 이상 socket cdn -->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- 이상 jquery cdn -->

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- 이상 SweetAlert2 cdn -->

    <style>
        /* div{
            text-align: center;
        } */
        .header{
            width: 400px;
            height: 40px;
            background-color: #3A1D1D;
            color:#F7E600;
            text-align: center;
            font-size: 30px;
        }       
        .chatMain{
            background-color: skyblue;
            width: 400px;
            height: 500px;
            overflow-y: scroll;
        }
        .chatMain >

        .sendMsg {
            text-align: right;
            
        }
        .sendMsg > div {
            background-color: yellow;
            display: inline-block;
            margin-right: 10px;
            margin-top: 15px;
        }

        .resMsg{
            text-align: left;

        }
        .resMsg > div {
            background-color: white;
            /* float: right; */
            display: inline-block;
            margin-left: 10px;
            margin-top : 10px;
        }


        .sendMsgBox, .loginId{
            /* border: 1px grey solid; */
            width: 358px !important; 
            height: 26.9px !important;
            text-align: center;
            padding: 0;
        }
        #newLogin{
            text-align: center;
        }
        .newLogin{
            text-align: center;
        }
        span{
            align-content: center;
        }
        .sendBtn, .loginBtn{
            /* background-color: #3A1D1D; */
            background-color: #F7E600;
            border: 1px grey solid;
            width: 42px;
            height: 28.87px !important;
        }
    </style>
    <script>

    </script>
</head>
<body>
    <div class="header">Talk&Talk</div>
    <input placeholder="닉네임을 입력해주세요" class="loginId"><button type="button" onclick="login();" class="loginBtn">접속</button>
    <div class="chatMain">
        <div id="newLogin"></div>
    </div>
    <div>
        <input placeholder="전송하고 싶은 내용을 적어주세요" class="sendMsgBox"><button type="button" onclick="send();" class="sendBtn">전송</button>
    </div>
    


    <!-- <h1><b>Hello World!</b></h1>
    <button type="button" onclick="hello()">hello</button>
    <button type="button" onclick="study()">study</button>
    <button type="button" onclick="bye()">bye</button>
    <div></div> -->

    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'center-left',
            showConfirmButton: false,
            timer: 1000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })
        var socket = io.connect(); //socket 연결 선언

        function login(){
            var id = $(".loginId").val();
            console.log(id);
            
            if($(".loginId").val() == 0){
                Toast.fire(
                    {icon: "warning",
                        title: "닉네임을 입력해주세요",
                        
                    })
            }
            else socket.emit("login", id);
        }
        socket.on("notice", function(data){
                var tag = document.getElementById("newLogin");
                // var tag = $(".newLogin");
                if(tag.textContent.length == 0){
                    tag.textContent = data;
                }
                else{
                    $(".chatMain").append(`<div class="newLogin">${data}</div>`)
                }
            });

        function send(){
            var content = $(".sendMsgBox").val(); 
            var id = $(".loginId").val();
            var data = {
                id : id,
                content : content
            }
            //input과 select 태그에서만 value 선택 가능
            // console.log(content);

            if($(".sendMsgBox").val() == 0){
                Toast.fire(
                    {
                        icon: "warning",
                        title: "내용을 입력해주세요 ㅜㅜ"
                        
                    })
            }
            else socket.emit("send", data);

        }

        socket.on("sendMsg", (data)=>{
        //클라이언트는 무조건 socket으로 치면 됨
                var myContent = $(".sendMsgBox").val(); 
                var className = "";

                if(myContent == data.content) className = "sendMsg";
                else className = "resMsg";

                $(".chatMain").append(
                    `<div class="${className}">
                        <div>${data.id} : ${data.content}</div>
                    </div>`
            )

        })


        // function hello(){
        //     // socket.emit("welcome", (data)=>{
        //     // console.log(data);
        //     // console.log(data.name, data.msg);
        //     // })
        //     socket.emit("welcome", "hello")
        //     // console.log(data);
        //     // console.log(data.msg)
        //     // var msgg = data.msg;
        //     $("div").html(msg);
            
        // }
        // function study(){
        //     // socket.emit("welcome", (data)=>{
        //     // console.log(data);
        //     // console.log(data.name, data.msg);
        //     // })
        //     socket.emit("welcome", "study")
        //     $("div").html("study: 공부합시다!");
            
        // }
        // function bye(){
        //     // socket.emit("welcome", (data)=>{
        //     // console.log(data);
        //     // console.log(data.name, data.msg);
        //     // })
        //     socket.emit("welcome", "bye")
        //     $("div").html("bye: 안녕히가세여");
            
        // }


        // socket.emit("welcome", "client 반가워~"); 
        //index.js 렌더시 실행될 함수

        // socket.on("welcome from server", (data)=>{
        //     console.log(data);

        //     console.log(data.name, data.msg);
        // })
        // socket.emit("이벤트명", "전송하고자하는데이터(문자열이든 객체든 무관)")
    </script>
</body>
</html>